:root {
  --color-black: #272a31;
  --color-orange: #ec5242;
  --color-white: #d3d3d3;
}

.headline-container {
  margin: 0 0;
  gap: 3em;
  font-size: 1.2em;
}

.headline-container {
  padding: 1em;
  margin: 3em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headline-container .hello-world {
  text-align: center;
}

.headline-container .heading {
  text-align: center;
}

.headline-container .heading-details {
  text-align: center;
}

.headline-container .program-location {
  padding-top: 10px;
  text-align: center;
}

.headline-container .nba-email {
  text-align: center;
}

.about-logo-container {
  background-color: #fff;
  text-align: center;
  padding: 5em 2em;
  border-bottom: 1px solid #272a31;
}

.about-logo-container .logo-heading {
  font-size: 3em;
  padding-bottom: 1em;
  line-height: 1.5em;
}

.about-logo-container .logo-heading::after {
  content: "";
  display: block;
  width: 10%;
  margin: 0 auto;
  padding-top: 0.5em;
  border-bottom: 0.1em solid #ec5242;
}

.about-logo-container .logo-description {
  font-size: 2em;
  font-weight: 550;
  padding-bottom: 1em;
}

.about-logo-container .logo-image {
  border: 0.001rem solid #272a31;
  padding: 3em;
  width: 90%;
  margin: 0 auto;
}

.prev-games-container {
  background-color: #fff;
  padding: 2em;
  text-align: center;
}

.prev-games-container .prev-games-heading {
  font-size: 3em;
}

.prev-games-container .prev-games-heading::after {
  content: "";
  display: block;
  width: 10%;
  margin: 0 auto;
  padding-top: 0.5em;
  border-bottom: 0.1em solid #ec5242;
}

.prev-games-container .prev-games-description {
  font-size: 2em;
}

.prev-games-container .game-container {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

.prev-games-container .bg-redish {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsla(6, 100%, 59%, 0.9);
  opacity: 0.9;
  padding: 2em;
}

.game-container .bg-redish .show {
  opacity: 1;
  color: #fff;
}

.prev-games-container .twenty-20 {
  background: url(../Assets/images/game2020.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.prev-games-container .twenty-19 {
  background: url(../Assets/images/game2019.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1em;
}

.game-container .game-heading {
  color: #fff;
  font-size: 3em;
  opacity: 1;
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}

.game-container .game-description {
  color: #fff;
  font-size: 2em;
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}

.footer .copyright {
  background-color: #d3d3d3;
}

@media (min-width: 768px) {
  .main {
    margin: 5em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .main .hello-world {
    display: none;
  }

  .headline-container .heading-details {
    font-size: 2em;
  }

  .headline-container .nba-email {
    font-size: 3em;
  }

  .headline-container .program-location {
    font-size: 2.5em;
  }

  .headline-container .about-logo-container .logo-description {
    padding: 1em 4em 0;
    font-weight: normal;
  }

  .headline-container .about-logo-container .logo-description .hidden {
    display: inline;
  }

  .headline-container .about-logo-container .prev-game {
    display: flex;
    padding: 3em;
    gap: 2em;
  }

  .prev-games-container .prev-game-description {
    padding: 1em 0;
    font-size: 2em;
  }

  .prev-games-container .prev-game-heading {
    padding: 1em 0;
    font-size: 3em;
  }

  .headline-container .about-logo-container .logo-image {
    padding: 3em;
    width: 50%;
    margin: 3em auto 0;
  }

  .about-logo-container .logo-image {
    padding: 3em;
    width: 30%;
  }

  .partners-container {
    display: none;
  }

  .prev-game {
    padding: 5em;
  }

  .footer .copyright .copyright-text {
    color: #d3d3d3;
  }

  .footer .copyright {
    background-color: #272a31;
  }

  .footer {
    background-color: #272a31;
  }
}
